body {
  background: #82B3BF }

section {
  text-align: center;
}

.aia_logo{
  margin-top: 10vh;
  height: 40vh;
}

.aia_text {
  height: 50vh;
  overflow: scroll;
}

.aia_text > p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.aia_text :first-child {
  margin-top: 15vh;
  margin-bottom: 5vh;
}

.aia_text :nth-child(2) {
  margin-top: 0;
  margin-bottom: 0;
}

.aia_text :nth-child(3) {
  margin-top: 0;
}
